<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h2>Category Registration</h2>
    <form th:action="@{save-category}" th:object="${category}" method="post">

        <input type="hidden" th:field="*{id}">
        <div>
            <label>Category:</label>
            <input type="text" th:field="*{categoryName}">
            <p th:each="err : ${#fields.errors('categoryName')}" th:text="${err}"></p>
        </div>
        <br>
        <div>
            <label>description:</label>
            <input type="text" th:field="*{description}">
            <p th:each="err : ${#fields.errors('description')}" th:text="${err}"></p>
        </div>

        <br/>
        <input type="button" value="Cancel"
               onclick="window.location.href='show-categories'">
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>