<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

</head>
<body>

<nav th:fragment="navbar">
    <div>
        <div>
            <a th:href="@{/}">Shop Management System</a>
        </div>
        <ul>
            <li><a th:href="@{/show-products}">Products</a></li>

            <li><a th:href="@{/show-categories}">Categories</a></li>

            <li><a th:href="@{/show-orders}">Orders</a></li>

            <li><a th:href="@{/show-customers}">Customers</a></li>
        </ul>
    </div>
</nav>

</body>
</html>